---
layout: default
title: Company
section_id: company
members:
  - image: people/mike.jpg
    name: Michael McCullen
    position: Chairman
    desc:
      Michael joined Sitedesk in July 2015. He was formerly Chairman of Asta Development plc, a leading international project management software business, of which he was a co-founder. As managing director he was responsible for the growth strategy and ultimate sale of that business in 2006, and sat on the board of its new parent company, Eleco plc, until founding his own consultancy practice in 2015. Michael holds a Computer Science degree and an MBA.
    socials:
      - name: mail
        link: #
        color: green
      - name: twitter
        link: #
        color: green
  - image: people/rob.jpg
    name: Rob Umphray
    position: Director of BIM
    desc:
      Rob has been with Sitedesk since 2013. As director of BIM he supports Sitedesk customers to identify and define the priority goals for their BIM projects; he then helps them implement Sitedesk software to deliver these objectives by improving project visibility, productivity and cost efficiency. He has built a deep and passionate interest in BIM, in particular around the challenges of workflow improvement in the expanded BIM value chain.
    socials:
      - name: mail
        link: #
        color: green
      - name: twitter
        link: #
        color: green
  - image: people/chris.jpg
    name: Chris Sewart
    position: Chief Technology Officer
    desc:
      Chris has been with Sitedesk since its inception and it is his vision which has enabled Sitedesk to evolve from a prototype to a robust commercial solution. He helped to build the company, recruit its development team and guide it through its early funding rounds. Chris combines a deep understanding of software and the people who must use it.
    socials:
      - name: mail
        link: #
        color: green
      - name: twitter
        link: #
        color: green

---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Sitedesk</h2>
      <p>Construction BIM software and services to help companies connect BIM data</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
         Sitedesk is an independent UK software and services company based in Manchester. It was founded in 2013 and provides a fast, flexible and easy-to-use collaborative working environment for those involved in construction and engineering projects. Sitedesk software is a SaaS solution that helps users manage BIM (Building Information Modelling) and traditional construction projects.
      </p>
      <p>
        Today Sitedesk is run by a professional management team with deep knowledge of software and services, extensive experience in developing collaborative solutions, and a track record of supporting the construction and engineering sectors in the UK and internationally.
       </p>
    </div>
    <div class='medium-6 large-6 columns' style='text-align:center;'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19050.878384709416!2d-2.219887643640984!3d53.35471546951182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4d26eb4e260f%3A0x734d20daad8c0ed2!2sCheadle+Hulme%2C+Cheadle+SK8+6QL!5e0!3m2!1sen!2suk!4v1455020243613" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      <h2>Leadership team</h2>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-4 large-4 columns'>
          <div class='member justified-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials hidden'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>
  </div>
</div>