<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  document.getElementById('contact-form-complete-url').value = document.URL + '?thank-you';
  if (document.URL.indexOf("thank-you") !== -1){
	document.getElementById('contact-form-form').style.display = 'none';
	document.getElementById('contact-form-blurb').innerHTML = 'Thank you. We will be in touch shortly, or call us now on + 44 (0)333 123 6633';
  }
});
</script>
<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In Touch</h2>
        <p id='contact-form-blurb'>You can contact us using the form below, or call us on +44 (0)333 123 6633</p>
      </div>
    </div>
  </div>
</div>
<div class='full orange'>
  <form class='form' action="https://service.capsulecrm.com/service/newlead" method="post" id='contact-form-form'>
	<input type="hidden" name="FORM_ID" value="069d3662-442b-434b-8b2c-78b8f49b0db7">
	<input type="hidden" name="COMPLETE_URL" value="http://sitedesk.com" id='contact-form-complete-url'>
	<input type="hidden" name="TAG" value="Website-contact">
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input name='PERSON_NAME' placeholder='Full name*' type='text'>
        <input name='ORGANISATION_NAME' placeholder='Company name*' type='text'>
        <input name='EMAIL' placeholder='Email address*' type='text'>
        <input name='PHONE' placeholder='Phone number' type='text'>
      </div>

      <div class='medium-6 large-6 columns'>
        <p>Which description matches you best from this list?*</p>
        <label><input type="radio" name='JOB_TITLE' value="contractor"> Contractor</label><br>
        <label><input type="radio" name='JOB_TITLE'  value="consultant"> Consultant</label><br>
        <label><input type="radio" name='JOB_TITLE'  value="public_sector"> Public sector</label><br>
        <label><input type="radio" name='JOB_TITLE'  value="fm_asset"> FM / asset manager</label><br>
        <label><input type="radio" name='JOB_TITLE'  value="bim_manager"> BIM manager</label><br>
        <label><input type="radio" name='JOB_TITLE'  value="other"> Other</label><br>
      </div>

      <div class='medium-12 large-12 columns'>
        <textarea name='NOTE' placeholder='Tell us more about your needs'></textarea>
        <input class='button white' type='submit'>
       </div>
    </div>
  </form>
</div>