<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In Touch</h2>
        <p>You can contact us using the form below or call us on + 44 (0)203 308 2958</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='Full name*' type='text'>
        <input placeholder='Company name*' type='text'>
        <input placeholder='Email address*' type='text'>
        <input placeholder='Phone number' type='text'>
      </div>

      <div class='medium-6 large-6 columns'>
        <p>Which description matches you best from this list?*</p>
        <label><input type="checkbox" value="contractor"> Contractor</label><br>
        <label><input type="checkbox" value="consultant"> Consultant</label><br>
        <label><input type="checkbox" value="public_sector"> Public sector</label><br>
        <label><input type="checkbox" value="fm_asset"> FM / asset manager</label><br>
        <label><input type="checkbox" value="bim_manager"> BIM manager</label><br>
        <label><input type="checkbox" value="other"> Other</label><br>
      </div>

      <div class='medium-12 large-12 columns'>
        <textarea placeholder='Tell us more about your needs'></textarea>
        <input class='button white' type='submit'>
       </div>
    </div>
  </div>
</div>