<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <h2>Request a demonstration</h2>
        <p>Complete the form below to request a Sitedesk software demonstration. We will respond to you as quickly as we can – if the need is particularly urgent, do call us on 0203 308 2958 to speak to a knowledgeable representative.  Our demonstrations are normally conducted remotely over the web but, of course, if you feel you would benefit from a more in-depth meeting please let us know.</p>
      </div>
    </div>
  </div>
</div>

<div class='full dark-blue'>
  <div class='form'>
    <div class='row'>
      <div class='medium-8 large-8 columns'>
        <input placeholder='Full name*' type='text'>
      </div>

      <div class='medium-8 large-8 columns'>
        <input placeholder='Email address*' type='text'>
      </div>

      <div class='medium-8 large-8 columns'>
        <input placeholder='Company name*' type='text'>
      </div>

      <div class='medium-8 large-8 columns'>
        <input placeholder='Phone number*' type='text'>
      </div>

      <div class='medium-8 large-8 columns'>
        <p>Tell us a little about why you want a demonstration, to help us understand your priorities</p>
        <input type='text'>
        <input class='button white' type='submit' text="...">
      </div>

      <div class='medium-8 large-8 columns'></div>
    </div>
  </div>
</div>