<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">What is sitedesk?</h2>
                    <h3 class="section-subheading text-muted">
                        Sitedesk makes it easy to control your construction project. Designed from the ground up to help clients and contractors reduce delivery and maintenance risk, it delivers a flexible, uncluttered collaboration environment - allowing you to unify your 3D models, documents and processes in a single place.
                    </h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For Clients</h4>
                    <p class="text-muted text-left">Public and private sector clients and owners find Sitedesk provides them with the visibility to control their exposure to unforeseen project costs and future maintenance burdens. By providing a simple and intuitive way to access their asset information, they can easily identify critical issues during construction and on into maintenance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For Contractors</h4>
                    <p class="text-muted text-left">Increasing complexity of co-ordination, BIM and Government Soft Landings mean Contractors need communication tools that reach into the supply chain. Sitedesk allows capture of as-built information in the field - reducing handover costs and minimising delivery risk.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For Consultants</h4>
                    <p class="text-muted text-left">Consultants, Advisors and Consulting Engineers use Sitedesk to ensure that the whole project team is communicating the right information at the right time. As an online collaboration tool, designed for both the client and the delivery team, Sitedesk reduces costly site visits and miscommunications allowing more projects to be managed with less risk.</p>
                </div>
            </div>
        </div>
    </section>