<div class="slider">
    <ul>
        {% for slide in site.data.slider %}
        <li class="slide {% unless forloop.first %}hidden{% endunless %}" style="background-image: url('/images/slider/{{slide.image}}')" >
            <div class="slide-content">
                <div class="slide-left">
                    <h1>{{slide.hook}}</h1>
                    <p>{{slide.pitch}}</p>
                    <a class='button white' href="/request-demo.html">Request Demo</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="slider-nav">
        <a class="slider-back" href="javascript:void(0)"></a>
        <a class="slider-next" href="javascript:void(0)"></a>
    </div>

    <div class="slider-jump-buttons">
        <div class="slider-jump-buttons-inner">
            {% for slide in site.data.slider %}<a class="slider-jump-button" data-index="{{forloop.index | plus:'-1'}}" href="javascript:void(0)"></a>{% endfor %}
        </div>
    </div>
</div>
