<div class="slider main-slider">
    <ul>
        {% for slide in site.data.slider %}
        <li class="slide {% unless forloop.first %}transparent{% endunless %}" style="background-image: url('/images/slider/{{slide.image}}')" >
            <div class="slide-content">
                <div class="slide-left">
                    <h1>{{slide.hook}}</h1>
                    <p>{{slide.pitch}}</p>
                    <a class='button white' href="/request-demo.html">Request Demo</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="slider-jump-buttons">
        <div class="slider-jump-buttons-inner">
            {% for slide in site.data.slider %}
              <a class="slider-jump-button {% if forloop.first %}current{% endif %}" data-index="{{forloop.index0}}" href="javascript:void(0)"></a>
            {% endfor %}
        </div>
    </div>
</div>
