{% if include.bg %}
  {% assign bg = include.bg %}
{% else %}
  {% assign bg = "bg-2" %}
{% endif %}

<div class='testimonials full light centered-text {{bg}}'>
  <div class='row'>
    <div class='special-title'>
      <i class='icon-quote light'></i>
    </div>
  </div>
  <div class='row'>
    <div class='slider'>
      <ul>
        {% for t in site.data.testimonials %}
          <li class="slide {% unless forloop.first %}transparent{% endunless %}">
            <p class='quote'>"{{t.quote}}"</p>
            <p class='testimonial-image'><img src="{{site.url}}/images/{{t.image}}" /></p>
            <p class='author'><b>{{t.author}}</b></p>
            <div class='two spacing'></div>
          </li>
        {% endfor %}
      </ul>
      
      {% if site.data.testimonials.size > 1 %}
      <div class="slider-jump-buttons">
        <div class="slider-jump-buttons-inner">
            {% for slide in site.data.testimonials %}
              <a class="slider-jump-button {% if forloop.first %}current{% endif %}" data-index="{{forloop.index0}}" href="javascript:void(0)"></a>
            {% endfor %}
        </div>
     </div>
     {% endif %}
      
    </div>
    <div class='spacing'></div>
  </div>
</div>